* {
    box-sizing: border-box;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 12px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background-color: white;
    margin-bottom: 10px;
}
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 12px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin-bottom: 10px;
}
form.example button:hover {
    background: #0b7dda;
}
form.example::after {
    content: "";
    clear: both;
    display: table;
}
.example a {
    color: black;
    font-weight: bolder;
    text-decoration: none;
    cursor: pointer;
}
.example a:hover {
    color: red;
}
.fa-caret-right {
    padding-left: 5px;
    font-size: 9px;
}
.buttonsets li {
    background-color: whitesmoke; /* Green background */
    /*border: 1px solid green;*/ /* Green border */
    color: black; /* White text */
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    font-size: 12px;
    padding: 1px 1px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 90%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
    margin-left: 5px;
    margin-bottom: 2px;
}
.buttonsets div li {
    color: #6D6592;
    margin-left: 10px;
}
.buttonsets div li a:hover {
    background-color: #DAF3D2;
    color: #002ADB;
}
.buttonsets li a:hover {
    background-color: #E0E0E0;
    color: #AF0303;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
}
#myBtn:hover {
    background-color: #555;
}
.SOFTWARESERVICES, .SELFHELP, .TRAVEL, .SPORTS, .COOKINGFOODWINE, .COMPUTERSINTERNET, .BUSINESSINVESTING, .SPIRITUALITYNEWAGEALTERNATIVEBELIEFS, .REFERENCE, .PARENTINGFAMILIES, .MOBILE, .LANGUAGES, .HOMEGARDEN, .HEALTHFITNESS, .GREENPRODUCTS, .GAMES, .FICTION, .EMPLOYMENTJOBS, .EDUCATION, .EBUSINESSEMARKETING, .BETTINGSYSTEMS, .ASSEENONTV, .ARTSENTERTAINMENT, .POLITICSCURRENTEVENTS, .GIVEAWAYS {
    display: none;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
hr.solid {
    border-top: 0px solid grey;
    margin: 0px 25px;
    margin-bottom: 40px;
}
.selection {
    background-color: white;
    margin: 16px 20px;
    font-weight: bold;
    padding: 10px;
    position: relative;
    /*border: 1px solid #E1C5C5;*/
    border-radius: 10px;
}
.selection h3 {
    color: rgba(11, 11, 11, 1.00);
    text-transform: capitalize;
}
.selection img {
    width: 25%;
    /*border: 1px solid grey;*/
    margin-right: 20px;
}
.selection button {
    background-color: saddlebrown;
    color: white;
    font-size: 12px;
    padding: 6px 15px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.selection button:hover {
    background-color: grey;
    border: none;
}
.myInput input[type=submit] {
    margin-top: 10px;
    padding: 5px 15px;
    font-size: 12px;
    font-weight: bolder;
    background-color: #2B5302;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.myInput #submit:disabled {
    background-color: grey;
    border: none;
}
.myInput input[type=submit]:hover {
    background-color: grey;
    border: none;
}
.myInput h3 {
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bolder;
}
.myInput label {
    font-size: 10px;
    text-transform: capitalize;
}
.myInput {
    display: none;
    font-family: "Segoe UI", Arial, sans-serif;
}
textarea {
    width: 100%;
}
@media screen and (min-width: 1100px) {
    .selection img {
        width: 10%;
        height: auto;
    }
}
@media screen and (max-width: 1714px) {
    .selection {
        border: 1px solid rgba(200, 200, 200, 0.67);
    }
}
@media screen and (min-width: 1715px) {
    .selection button {
        float: right;
        position: absolute;
        right: 35%;
        top: 30%;
    }
    .selection h3 {
        position: absolute;
        left: 11%;
        top: -5%;
    }
    .selection p {
        position: absolute;
        top: 16%;
        left: 11%;
        width: 45%;
    }
}
@media screen and (min-width: 2100px) {
    .selection p, .selection h3 {
        font-size: 20px;
    }
    .selection h3 {
        top: 0%;
    }
    .buttonsets div li {
        font-size: 14px;
    }
    .buttonsets li {
        font-size: 15px;
    }
    .selection button {
        font-size: 16px;
        top: 10%;
    }
    form.example button, form.example input[type=text] {
        font-size: 18px;
    }
    textarea {
        font-size: 15px;
    }
}
#nonexist, #nonexistingoffer {
    display: none;
}
.carousel {
    width: 30%;
    position: relative;
    margin-left: 35%;
}
@media screen and (max-width: 1644px) and (min-width:1037px) {
    .carousel {
        width: 50%;
        margin-left: 25%;
    }
}
@media screen and (max-width: 1036px) and (min-width:500px) {
    .carousel {
        width: 70%;
        margin-left: 15%;
    }
}
@media screen and (max-width: 366px) {
    #hideinsmall {
        display: none;
    }
}
@media screen and (max-width: 499px) {
    .carousel {
        width: 100%;
        margin-left: 0%;
    }
}
.carousel-inner .carousel-item h3 {
    position: absolute;
    font-weight: bold;
    top: 40%;
    left: 40%;
    color: rgba(17, 16, 16, 1.00);
}
.carousel-indicators button[type=button] {
    background-color: grey;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: lightgrey;
}
.loader {
    display: none;
    z-index: 999;
    position: fixed;
    left: 40%;
    margin-top: 25%;
    width: 70px;
    height: 70px;
    /*border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #030D14;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 0.5s linear infinite; /* Safari */
    /* animation: spin 0.5s linear infinite;*/
}
@media screen and (max-width:675px) {
    .loader {
        left: 40%;
        margin-top: 100%;
    }
}
/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.Clickbank #nonexist h3, #nonexistingoffer h3 {
    border: none;
    text-transform: none;
    font-size: 20px;
    margin: 30px;
    font-family: "Segoe UI", Arial, sans-serif;
}
.store, #categoriesitems, #categor, .postal {
    display: none;
}